body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   
}
.details-container{
    background-color: #f2f2f2;
}
.form-container{
     
    margin: 20px auto;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Enable horizontal scrolling */
}
.container {
    
    margin: 20px auto;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Enable horizontal scrolling */
    
    
    
}

table {
    width: 90%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    background-color: #337ab7;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0c1e2e;
    
}
.details-container .form-container h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#337ab7;
}
.details-container {
    max-height: 700px;
    overflow: auto;
}