.container {
    margin: 20px auto;
    margin-right: 2px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .container h2 {
    text-align: center;
    color: #337ab7;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
  }
  
  thead th {
    background-color: #f2f2f2;
  }
  
 td p {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .btn {
    display: inline-block;
    background-color: #337ab7;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0c1e2e;
  }
  .details-container {
    max-height: 700px;
    overflow: auto;
}
.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btns a {
  text-decoration: none;
  color: #333;
  background-color: #337ab7;
  padding: 10px 20px;
  border-radius: 15px;
  color:white;
}

.btns a:hover {
  background-color: #382f2f;
}
.welcome{
  align-items: center;
  text-align: center;
  background-color: rgb(64, 161, 64);
  color: #382f2f;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;

}
.welcome:hover{
  color: #ddd;
  background-color: rgb(117, 92, 59);
}