.rec{
    width: 90%;
    height: 900px;
    background-color: #fff;
    margin: 20px auto;
    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.rectangle {
    position: relative;
    width: 99.5%;
    height: 4cm;
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    
  }
  .rectangle2 {
    width: 100%;
    height: 750px;
    border: 1px solid black;
  }
  
 
  .image {
    position: absolute;
    top: 5px;
    left: 10px;
    height:95%;
    border-radius: 100px;
  }

  .sentences {
    position: absolute;
    bottom:1px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
  }

  .sentences p {
    margin: 0;
    padding: 2px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    margin-top: 3px;
    margin-left: 60px;
  }
 .one{
    color: rgb(59, 59, 241);
    font-weight: bold;

  }
  .four{
    color: rgb(245, 44, 44);
    font-weight: bold;
  }
  .five{
   
    font-weight: bold;
  }
   .textbox p{
    display: inline;
   float: left;
    border: 1px solid black;
    margin-left: 12px;
    margin-top: 4px;
    padding: 5px;
    left: 20px;
   font-size: 15px;
 }
 .float{
  float: none;
 }
 .image_profile{
  position: absolute;
    top: 5px;
    left: 10px;
    height:95%;
    border-radius: 100px;
 }
 .rectangle .rec_flex2 img{
    height: 10px;
 }
  .rectangle .rec_flex1 div label{
  margin-top: 20px;
  margin-bottom: 10px;
 }
 .rec_flex1{
  width: 85%;
 }
 .rec_flex2{
  width: 15%;

 }
 .btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btns a {
  text-decoration: none;
  color: #333;
  background-color: #337ab7;
  padding: 10px 20px;
  border-radius: 15px;
  color:white;
}

.btns a:hover {
  background-color: #382f2f;
}
.welcome{
  align-items: center;
  text-align: center;
  background-color: rgb(64, 161, 64);
  color: #382f2f;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;

}
.welcome:hover{
  color: #ddd;
  background-color: rgb(117, 92, 59);
}
  








  .details-container {
    max-height: 700px;
    overflow: auto;
    background-color: #fff;
  }  
  