 /*  css for the table in result form */
 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   
}
 .details-container{
    background-color: #f2f2f2;
    
}
 .details-container .marks_title h2 {
    align-items: center;
    text-align: center;
    color: #3010be;

  }
  .marks_heads{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Enable horizontal scrolling */
    
  }
  .details-container .marks_title{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table th{
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
.details-container .marks_title p .paragraphy h3{
    color:#3010be;
}
.details-container {
    max-height: 700px;
    overflow: auto;
}
.my_links  p h3{
    text-align: center;
    align-items: center;
    width: 100%;
}